@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    --color-facebook: hsl(208, 92%, 53%);
    --color-youtube: hsl(348, 97%, 39%);
    --color-twitter: hsl(203, 89%, 53%);
    --color-instagram:  hsl(37, 97%, 70%);
    --color-instagram2: hsl(329, 70%, 58%);
    --color-green: hsl(146, 54%, 32%);

    /* Dark Theme */

    --color1: hsl(210, 78%, 56%);
    --color2: hsl(146, 68%, 55%);

    /* Light Theme */

    --color-light: hsl(230, 22%, 74%);

    /* Neutral */

    /* Dark Theme */

    --color-darkBlue: hsl(230, 17%, 14%);
    --color-darkBlue-top: hsl(232, 19%, 15%);
    --color-darkBlue-desaturated: hsl(228, 28%, 20%);
    --color-blue-desaturated-text: hsl(228, 34%, 66%);
    --color-white-text: hsl(0, 0%, 100%);

    /* Light Theme */

    --color-white-BG: hsl(0, 0%, 100%);
    --color-paleBlue-top: hsl(225, 100%, 98%);
    --color-lightGrayish-blue-Card-BG: hsl(227, 47%, 96%);
    --color-darkGrayish-blue-Text: hsl(228, 12%, 44%);
    --color-darkBlue-Text: hsl(230, 17%, 14%);

    /* font */
    --font-family: 'Inter', sans-serif;

}

html {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 62.5%;
}

h1 {
    font-size: 4.8rem;
    font-weight: 700;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
}

h3 {
    font-size: 1.4rem;
    font-weight: 700;
}

h4 {
    font-size: 1.2rem;
    font-weight: 700;
}